@import "node_modules/bourbon/core/bourbon"
@import "vars.sass"

//Load Libs SASS
@import "app/libs/animate/animate.sass"
@import "app/libs/font-awesome/css/font-awesome.sass"
@import "app/libs/Magnific-Popup/magnific-popup.sass"
// @import "app/libs/owl-carousel/assets/owl.carousel.sass"
//@import "app/libs/selectize/dist/css/selectize.default"*/
// @import "app/libs/multi_tabs_jq/multi_tabs"


// main style Dont touch! START
*::-webkit-input-placeholder
	color: #222
	opacity: 1

*:-moz-placeholder
	color: #222
	opacity: 1

*::-moz-placeholder
	color: #222
	opacity: 1

*:-ms-input-placeholder
	color: #222
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #222
body input:required:valid,
body textarea:required:valid
	color: #222
// main style Dont touch! END
//<scroll top button (dinamic in js not in html)
body
.scrollback
	font-size: 30px
	border: 2px solid bisque
	position: fixed
	// top: 0
	right: -100px
	bottom: 0
	// left: 0
	/*background-color: rgba(207, 117, 88,.5)*/
	z-index: 1000
	border-radius: 50%
	width: 60px
	height: 60px
	+mt(.5s)
	&:hover
		background-color: red
.activeb
	right: 0
	i
		color: #fff
		position: absolute
		top: 10px
		right: 0
		bottom: 0
		font-size: em(30px)
		left: 18px
//<scroll top button (dinamic in js not in html)


//Custom Styles Here


//ALWAYS END
@import "media"



